<div class="grid-stack-item" gs-w="2" gs-h="2">
  <div class="grid-stack-item-content">
    <div class="in-grid">
      <div class="move-handle" #handle>
        <mat-icon aria-hidden="false" aria-lable="Drag handle" fontIcon="drag_indicator"></mat-icon>
      </div>
      <div *ngIf="type==='text'">
        <app-text-box></app-text-box>
      </div>
      <div *ngIf="type==='image'">
        <app-image-box></app-image-box>
      </div>
    </div>
    <div class="in-sidebar">
      <span *ngIf="type==='text'">
        <mat-icon aria-hidden="true" fontIcon="text_snippet"></mat-icon>
      </span>
      <span *ngIf="type==='image'">
        <mat-icon aria-hidden="true" fontIcon="image"></mat-icon>
      </span>
    </div>
  </div>
</div>