<div>
  <app-header></app-header>
  <app-grid-form-bar [noOfColumns]="noOfColumns" [gridRowHeight]="gridRowHeight" (onSubmit)="updateGridFormat($event)"></app-grid-form-bar>
  <div class="button-bar">
    <button (click)="loadGrid()">Load</button>
    <button (click)="saveGrid()">Save</button>
    <button (click)="clearGrid()">Clear</button>
  </div>
  <div class="workspace">
    <app-item-selection-bar (onItemAdd)="addWidget($event)"></app-item-selection-bar>
    <gridstack class="layout-area" [options]="gridOptions"></gridstack>
  </div>
</div>
