.grid-item-selection-container {
  margin: 0 200px;
  border: 1px solid steelblue;
  border-radius: 5px;
}
.grid-item-selection-container h4 {
  margin-left: 10px;
}
.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  margin-right: 4px;
}
.container {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 10px auto;
  overflow: none;
  border: 1px solid steelblue;
  border-radius: 5px;
}
