.container {
  max-width: 1200px;
  height: 600px;
  margin: 30px auto;
  overflow: none;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.button-bar {
  display: flex;
  justify-content: center;
}
button {
  margin-right: 4px;
}