.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
button {
  margin-right: 4px;
}
.workspace {
  display: flex;
  height: 600px;
  margin: 10px;
}
.layout-area {
  position: relative;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  overflow: none;
  border: 1px solid steelblue;
  border-radius: 5px;
}
