<div class="sidebar">
  <div class="tools">  
    <button class="tool-button" (click)="addItemToGrid('app-image-box')">
      <mat-icon aria-hidden="false" aria-label="add image to grid" fontIcon="image"></mat-icon>
    </button>
    <button class="tool-button" (click)="addItemToGrid('app-text-box')">
      <mat-icon aria-hidden="false" aria-label="add text box to grid" fontIcon="text_snippet"></mat-icon>
    </button>
  </div>
  <div class="trash">
    <mat-icon aria-hidden="true" fontIcon="delete"></mat-icon>
  </div>
</div>
