.sidebar {
  background: silver;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tools {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tool-button {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  margin-bottom: 2px;
  outline: solid 1px black;
  outline-offset: -1px;
  cursor: pointer;
}
.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1 / 2;
  background-color: palevioletred;
  outline: solid 1px black;
  outline-offset: -1px;
}
