@import "gridstack/dist/gridstack-extra.css";
@import "gridstack/dist/gridstack.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-stack-item-removing {
  opacity: 0.5;
}
.sidebar {
  background: rgba(0, 255, 0, 0.1);
  padding: 25px 0;
  height: 100px;
  text-align: center;
}
.sidebar .grid-stack-item {
  width: 120px;
  height: 50px;
  border: 2px dashed green;
  text-align: center;
  line-height: 35px;
  background: rgba(0, 255, 0, 0.1);
  cursor: grab;
  display: inline-block;
  max-height: 50px;
}

.sidebar .grid-stack-item .grid-stack-item-content .in-grid {
  display: none;
}
.layout-area .grid-stack-item .grid-stack-item-content .out-grid {
  display: none;
}
